<!DOCTYPE html>
<html>
<head>
    <title>Crear Perfil</title>
</head>
<body>
    <h1>Crear Perfil</h1>
    <form method="post" action="/perfiles">
        <label for="nombre">Nombre:</label>
        <input type="text" name="nombre" required>
        <label for="follow">Follow:</label>
        <input type="number" name="follow" required>
        <label for="publicaciones">Publicaciones:</label>
        <input type="number" name="publicaciones" required>
        <button type="submit">Crear Perfil</button>
    </form>
</body>
</html>
