<!DOCTYPE html>
<html>
<head>
    <title>Crear Registro de Artista</title>
</head>
<body>
    <h1>Crear Registro de Artista</h1>
    <form method="post" action="/registro-artistas">
        <label for="nombre">Nombre:</label>
        <input type="text" name="nombre" required>
        <label for="email">Email:</label>
        <input type="email" name="email" required>
        <label for="password">Contraseña:</label>
        <input type="password" name="password" required>
        <label for="fecha_nacimiento">Fecha de Nacimiento:</label>
        <input type="date" name="fecha_nacimiento" required>
        <button type="submit">Crear Registro de Artista</button>
    </form>
</body>
</html>
