<!DOCTYPE html>
<html>
<head>
    <title>Actualizar Perfil</title>
</head>
<body>
    <h1>Actualizar Perfil</h1>
    <form method="post" action="/perfiles/{{id_perfil}}?_method=PUT">
        <label for="nombre">Nombre:</label>
        <input type="text" name="nombre" value="{{nombre}}" required>
        <label for="follow">Follow:</label>
        <input type="number" name="follow" value="{{follow}}" required>
        <label for="publicaciones">Publicaciones:</label>
        <input type="number" name="publicaciones" value="{{publicaciones}}" required>
        <button type="submit">Actualizar Perfil</button>
    </form>
</body>
</html>
