<!DOCTYPE html>
<html>
<head>
    <title>Crear Género Musical</title>
</head>
<body>
    <h1>Crear Género Musical</h1>
    <form method="post" action="/generos">
        <label for="nombre_genero">Nombre del Género:</label>
        <input type="text" name="nombre_genero" required>
        <button type="submit">Crear Género Musical</button>
    </form>
</body>
</html>
