<!DOCTYPE html>
<html>
<head>
    <title>Listado de Géneros Musicales</title>
</head>
<body>
    <h1>Listado de Géneros Musicales</h1>
    <ul>
        {{#each generos}}
            <li>{{id_genero}} - {{nombre_genero}}</li>
        {{/each}}
    </ul>
</body>
</html>
