<!DOCTYPE html>
<html>
<head>
    <title>Crear Login de Artista</title>
</head>
<body>
    <h1>Crear Login de Artista</h1>
    <form method="post" action="/login-artistas">
        <label for="email_artista">Email del Artista:</label>
        <input type="email" name="email_artista" required>
        <label for="password">Contraseña:</label>
        <input type="password" name="password" required>
        <button type="submit">Crear Login de Artista</button>
    </form>
</body>
</html>
