<!DOCTYPE html>
<html>
<head>
    <title>Actualizar Estado de Aprobaci贸n</title>
</head>
<body>
    <h1>Actualizar Estado de Aprobaci贸n</h1>
    <form method="post" action="/estados-aprobacion/{{id_estado}}?_method=PUT">
        <label for="estado">Estado de Aprobaci贸n:</label>
        <input type="text" name="estado" value="{{estado}}" required>
        <button type="submit">Actualizar Estado de Aprobaci贸n</button>
    </form>
</body>
</html>
