<!DOCTYPE html>
<html>
<head>
    <title>Listado de Estados de Aprobación</title>
</head>
<body>
    <h1>Listado de Estados de Aprobación</h1>
    <ul>
        {{#each estadosAprobacion}}
            <li>{{id_estado}} - {{estado}}</li>
        {{/each}}
    </ul>
</body>
</html>
